.List {
	width: 40%;
	display: inline-block;
	padding: 0;
}
.List ul {
	padding: 0;
	margin:	0;
}
.List ul li {
	display: flex;
	height: 5em;
	border-bottom: 1px solid darkGrey;
	list-style-type: none;
	align-items: center;
}

.List ul li img {
  height: 5em;
  width: 8em;
  float: left;
  object-fit: cover;
}